.principal-container-eventual[b-hdewweyfd1] {
    position: absolute;
    background-color: var(--neutral-gray);
    width: 30vw;
    height: 100vh;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
}

.eventual-icon[b-hdewweyfd1] {
    display: flex;
    color: white;
    justify-content: start;
    align-items: center;
    font-size: 30px;
}

.show-left-menu-option[b-hdewweyfd1] {
    transform: translateX(0);
    z-index: 5 !important;
}

.hide-and-show-eventual-button[b-hdewweyfd1] {
    background-color: var(--light-blue);
    position: absolute;
    top: 300px;
    left: 100%;
    width: 50px;
    height: 50px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
    overflow: hidden;
    transition: width 0.3s;
}

    .hide-and-show-eventual-button:hover[b-hdewweyfd1] {
        width: 200px;
    }

.text-eventual[b-hdewweyfd1] {
    color: white;
    display: none;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.hide-and-show-eventual-button:hover .text-eventual[b-hdewweyfd1] {
    display: block;
}
