.principal-container-visit[b-g55sg9x6og] {
    position: absolute;
    background-color: var(--neutral-gray);
    width: 30vw;
    height: 100vh;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
}

.visit-icon[b-g55sg9x6og] {
    display: flex;
    color: white;
    justify-content: start;
    align-items: center;
    font-size: 30px;
}

.show-left-menu-option[b-g55sg9x6og] {
    transform: translateX(0);
    z-index: 5 !important;
}

.hide-and-show-visit-button[b-g55sg9x6og] {
    background-color: var(--soft-green);
    position: absolute;
    top: 250px;
    left: 100%;
    width: 50px;
    height: 50px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
    overflow: hidden;
    transition: width 0.3s;
}

.hide-and-show-visit-button:hover[b-g55sg9x6og] {
    width: 200px;
}

.text-visit[b-g55sg9x6og] {
    color: white;
    display: none;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.hide-and-show-visit-button:hover .text-visit[b-g55sg9x6og] {
    display: block;
}