@{
    ViewData["Title"] = "LogIn Page";
}

<div class="text-center">
    <div class="row p-0 m-0 justify-content-center">
        <div class="col-6 p-0 m-0">
            <div class="row m-5 d-flex justify-content-center">
                <div class="col-11 p-0 m-0">
                    <form asp-controller="User" asp-action="LoginUser">
                        <label>User:</label>
                        <input name="_user" class="form-control" type="text" placeholder="User..." />
                        <label>Password:</label>
                        <input name="_password" class="form-control" type="text" placeholder="Password..." />

                        <div class="row p-0 m-0 mt-2 w-100">
                            <button type="submit" class="btn btn-success">LOG IN</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/UserIndex.js"></script>